*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aliceblue;
    display: grid;
    /* height: 100vh; */
    align-items: center;
}
.Top{
    display: flex;
    /* border: 100vh; */
    border-radius: 5px;
    border-style: ridge;
    background-color: rgb(247, 240, 255);
    align-items: center;
    width: 300px;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quicklinks{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}
.numbers{
    display: flex;
    gap: 40px;
}
